/* pages/About.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-direction: column;
  gap: 1px;
  border-bottom: 1px solid gray;
   background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
}

.navbar .logo {
  font-size: 35px;
  font-weight: bold;
  color: #28a745;
}

/* Mobile nav: 2 columns, 2 rows */
.nav-links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 0;
  padding: 0px;
}

.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 80px; */
  cursor: pointer;
  color: black;
  transition: color 0.3s ease;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 15px;
  text-align: center;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bolder;
}

.nav-links li:hover {
  color: #22c55e;
}
.nav-links li.active-link {
  color: #4ade80;
  font-weight: 600;
  border-bottom: 2px solid #4ade80;
}

.about-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
  text-align: left;
}


h1 {
  font-size: 15px;
  color: #4caf50;
  margin-bottom: 20px;
  text-align: center;
  animation: fadeInUp 1s ease forwards;
}

h1.fade-in {
  font-size: 50px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.about-sections {
  margin-bottom: 30px;
}

section {
  margin-bottom: 20px;
  animation: fadeInUp 1s ease forwards;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #388e3c;
}

section p {
  font-size: 1rem;
  color: #555;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

ul li:hover {
  color: #4caf50;
  transform: translateX(5px);
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.back-link:hover {
  color: #388e3c;
  transform: scale(1.05);
}

/* Animation classes */
.fade-in {
  opacity: 0;
  animation: fadeInUp 1s forwards;
}

.fade-in.delay-1 {
  animation-delay: 0.3s;
}

.fade-in.delay-2 {
  animation-delay: 0.6s;
}

.fade-in.delay-3 {
  animation-delay: 0.9s;
}

.fade-in.delay-4 {
  animation-delay: 1.2s;
}

/* Keyframes for fadeInUp */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
